#### Client token for the bot
CLIENT_TOKEN=MTMwMhO2Bd...

#### Postgres connection URL
PGSQL_URL=postgresql://...:...@host/clan

#### Webhooks for logging
INFO_WEBHOOK=https://discord.com/api/webhooks/.../...
WARN_WEBHOOK=https://discord.com/api/webhooks/.../...
ERROR_WEBHOOK=https://discord.com/api/webhooks/.../...

#### Clan information
CLAN_NAME="Clan Name"
SERVER_ID=12345...
PREFIX=!

#### Channel IDs
APPLICATION_CHANNEL=12345...
PENDING_INV_CHANNEL=12345...
MAIN_CHANNEL=12345...
STAFF_CHANNEL=12345...
BOT_CHANNEL=12345...

#### Role IDs
CLAN_ROLE=12345...
STAFF_ROLE=12345...

#### Developer ID (admin for commands)
DEV_ID=12345...